.tool-bar {
  display: flex;
  margin-bottom: 16px;

  .warning {
    flex: 1;
    box-sizing: border-box;
    height: 32px;
    color: #ffb118;
    line-height: 32px;
    background: rgb(255 178 23 / 10%);
    border: 1px solid rgb(255 177 19 / 50%);
    border-radius: 2px;
  }

  .warning-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 14px;
    vertical-align: text-bottom;
    background: url('@/assets/companyInfo-approving.png') center no-repeat;
  }
}

.apply-btn {
  margin-left: 48px;

  &.is-approving {
    color: rgb(0 0 0 / 25%);
    background-color: rgb(0 0 0 / 4%);
    border: 1px solid #d9d9d9;
  }
}

.approve-tips {
  padding: 12px 16px;
  line-height: 1.5714;
  border-bottom: 1px solid rgb(232 233 234);
}

.title {
  margin-top: 48px;
  margin-bottom: 16px;
  font-weight: bold;
}

.record-wrap {
  border-top: 1px solid rgb(232 233 234);
}

.panel {
  border-bottom: 1px solid $border-color;
}
