.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('@/assets/login-bg.png') center no-repeat;
  background-color: $bg-primary-color;
  background-size: cover;

  .login-box {
    display: flex;
    width: 1000px;
    height: 528px;
  }

  .login-box-bg {
    width: 528px;
    height: 528px;
    background: url('@/assets/login-box-bg.png') center no-repeat;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .login-form {
    margin-top: 20px;
  }

  .right-side {
    flex: 1;
    padding: 48px 48px 0;
    background-color: #fff;
    border: 1px solid #e8e9ea;
    border-left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .tool {
    text-align: right;

    p {
      color: #1e55d1;
      cursor: pointer;
    }

    .fpw {
      margin-left: 4px;
    }
  }

  .qrcode-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .tips {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
}

.popover-title {
  display: flex;
  align-items: center;
}

.popover-icon {
  margin-right: 16px;
  font-size: 22px;
}
