.content {
  width: 1000px;
  min-height: calc(100vh - 64px);
  margin: 0 auto;
}

.back-column {
  display: flex;
  align-items: center;
  line-height: 78px;

  .back-btn {
    font-size: 14px;
    cursor: pointer;
  }
}

.card-content {
  text-align: center;

  .card-name {
    margin-top: 20px;
  }
}
