.content {
  width: 1000px;
  min-height: calc(100vh - 64px);
  margin: 0 auto;
}

.title-wrap {
  position: relative;
  padding: 24px 0;
  color: $light-font-primary-color;
  font-size: 22px;
}

.section {
  background-color: #fff;
}

.section-title {
  padding: 24px;
  padding-bottom: 0;
  font-weight: bold;
  font-size: 18px;
}
