.tag {
  @include useTheme(dark) {
    color: #bdbdbd;
    background-color: rgb(30 85 210 / 10%);
    border-color: rgb(48 48 48 / 100%);
  }

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  padding-left: 110px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: 30px;

  &::after {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 50%;
    background-color: $border-color;
    content: '';
  }

  &.last::after {
    width: 0;
  }

  @for $i from 1 through 3 {
    &.icon0#{$i} {
      background-image: url('@/assets/myApp-icon-0#{$i}.png');
    }
  }

  .count {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
  }
}
