.title {
  display: flex;
  align-items: center;
  font-size: 18px;

  .decoration-line {
    width: 16px;
    height: 4px;
    margin-right: 8px;
    background-color: $primary-color;
  }

  .decoration-square {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background-color: $primary-color;
  }

  .success {
    .percentage {
      color: $primary-color;
    }
  }

  .fail {
    .decoration-square {
      background-color: #c7c9cd;
    }

    .percentage {
      color: #f23c3c;
    }
  }

  .amount {
    color: $primary-color;
    font-size: 24px;
  }
}

.space-between {
  justify-content: space-between;

  .left-side,
  .right-side {
    display: flex;
    align-items: center;
  }
}

[data-theme='light'] .title {
  color: $light-font-primary-color;
}

[data-theme='dark'] .title {
  color: #dbdbdb;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
}

.card-content {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  height: 117px;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: left;

  @for $i from 1 through 6 {
    &.card0#{$i} {
      background-image: url('@/assets/myApp-card-0#{$i}.png');
    }
  }
}

.count {
  font-size: 28px;
}

[data-theme='light'] .description {
  color: #575d69;
}

[data-theme='dark'] .description {
  color: #7d7d7d;
}
