.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .name {
    @include font-primary-color;

    font-weight: bold;
    font-size: 18px;
  }
}

.form-tabs {
  margin-bottom: 20px;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 30%);
  transition: 0.5s;
}
