.account-wrap {
  padding: 32px 40px;
  background-color: #f6faff;
  border: 1px solid #c2daf8;
  border-radius: 4px;

  .column {
    margin-bottom: 18px;
    font-size: 14px;
  }
}

[data-theme='light'] .column-value {
  color: #595959;
}

[data-theme='dark'] .column-value {
  color: $dark-font-primary-color;
}
