.account-wrap {
  padding: 30px;
  border: 1px solid #e8e9ea;
  border-radius: 4px;

  .column {
    margin-bottom: 18px;
    font-size: 14px;
  }
}

[data-theme='light'] .column-value {
  color: #595959;
}

[data-theme='dark'] .column-value {
  color: $dark-font-primary-color;
}
