.column {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fbfbfb;
  border: 1px dashed #d9dadd;
  border-radius: 4px;

  .step-name {
    margin-left: 4px;
    vertical-align: middle;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      display: block;
      padding: 14px 0;
      text-align: center;
    }

    .tips {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.client-app {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 120px;
  background-color: #fafafa;

  .app-icon-item {
    position: relative;
    display: inline-flex;

    .delete {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 20px;
      height: 20px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      vertical-align: middle;
      background-color: #bbbdc2;
      border-radius: 50%;
      cursor: pointer;
    }

    .app-icon {
      width: 50px;
      height: 50px;
    }
  }
}

.client-tips {
  color: #575d69;
  font-size: 12px;
}

.copy-btn {
  display: flex;
  justify-content: end;
}

.checkbox-group {
  margin-top: 20px;
  padding: 20px;
}

.setting-rule {
  padding: 24px;
}

.setting-item {
  .title {
    color: #1e2636;
    font-weight: bold;
    font-size: 14px;
  }

  .selected-item {
    margin: 20px 0;
    border-bottom: 1px dashed #e8e9ea;
  }
}
