.menu-layout {
  height: 100%;
}

.menu-sider {
  min-height: 100%;
}

.content {
  padding: 16px 20px;
}

.menu-sider,
.header,
.content {
  background-color: #fff;
}

.update-box {
  border-style: solid;
  border-width: 1px;

  .header {
    line-height: 40px;
    text-align: center;
  }

  .container {
    padding: 20px;
  }
}

.before {
  border-color: #ffa814;

  .header {
    color: #ffa814;
    background-color: rgb(255 246 231);
  }
}

.after {
  border-color: $primary-color;

  .header {
    color: $primary-color;
    background-color: rgb(232 238 250);
  }
}

.description-item {
  margin-bottom: 10px;
  line-height: 2;

  &.is-updated {
    background-color: rgb(232 238 250);
  }

  &.mgt0 {
    margin-bottom: 0;
  }
}
