.tag {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 80px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

  @for $i from 1 through 3 {
    &.icon0#{$i} {
      background-image: url('@/assets/myApp-icon-0#{$i}.png');
    }
  }

  .count {
    margin: 0 16px;
    font-weight: bold;
    font-size: 24px;
  }
}

[data-theme='light'] .tag {
  background-color: #edf5ff;
  border-color: $border-color;
}

[data-theme='dark'] .tag {
  color: #bdbdbd;
  background-color: rgb(30 85 210 / 10%);
  border-color: rgb(48 48 48 / 100%);
}
