.container {
  border: 1px solid rgb(232 233 234 / 100%);
}

.title {
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 48px;
  background: #f3f5f8;
  border-bottom: 1px solid rgb(232 233 234 / 100%);
}

.catalog {
  font-weight: bold;
  text-align: center;
}

.content {
  padding: 20px;
}

.bdr {
  border-right: 1px solid rgb(232 233 234 / 100%);
}
