.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 40px;
  color: #fff;
  background-color: $primary-color;

  &.is-fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  .left-side {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 12px;
    }

    .title {
      font-size: 18px;
    }
  }

  .back-btn {
    color: #fff;

    &:hover {
      color: #fff !important;
    }
  }
}

.dropdown-item {
  display: flex;
  align-items: center;

  .icon {
    width: 19px;
    height: 19px;
    margin-right: 8px;
    background-size: cover;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .myAccount {
    background: url('@/assets/header-account-icon.png') center no-repeat;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .myApplications {
    background: url('@/assets/header-application-icon.png') center no-repeat;
  }

  .logout {
    background: url('@/assets/header-logout-icon.png') center no-repeat;
  }
}
