$primary-color: #1e55d1;
$bg-primary-color: #f3f5f8;
$border-color: #d9d9d9;

$light-font-primary-color: #1e2636;
$dark-font-primary-color: #dbdbdb;
$light-font-secondary-color: #575d69;
$dark-font-secondary-color: #dbdbdb;

$themes: (
  light:(
    'font-primary-color':$light-font-primary-color,
    'font-secondary-color':$light-font-secondary-color,
  ),
  dark:(
    'font-primary-color':$dark-font-primary-color,
    'font-secondary-color':$dark-font-secondary-color,
  )
);

$currentThemeValue: light;

// 遍历主题
@mixin themeify {
  @each $key, $value in $themes {
    $currentThemeValue: $value !global;

    [data-theme="#{$key}"] & {
      @content;
    }
  }
}

// 获取主题对象下的key属性对应的值
// 函数名写成驼峰形式，就算改stylelintrc规则，vscode的插件也会报错。
@function getthemevalue($key) {
  @return map-get($currentThemeValue, $key);
}

@mixin useTheme($theme:light) {
  [data-theme="#{$theme}"] & {
    @content;
  }
}

// 字体颜色
@mixin font-primary-color {
  @include themeify {
    color: getthemevalue('font-primary-color');
  }
}

@mixin font-secondary-color {
  @include themeify {
    color: getthemevalue('font-secondary-color');
  }
}
