.gray-bg {
  background-color: $bg-primary-color;
}

.primary-color {
  color: $primary-color;
}

.font-primary-color {
  @include font-primary-color;
}

.font-secondary-color {
  @include font-secondary-color;
}

.tool {
  position: fixed;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 100px;

  .theme-switch {
    transform: scale(1.2);
  }

  .color-picker-wrap {
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: 3;
  }

  .color-picker-layout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.modal-sub-title {
  position: relative;
  margin-bottom: 20px;
  padding-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #000;
    content: '';
  }
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.table-column { vertical-align: middle; }

.carousel-dot {
  inset-inline-start: auto !important;
}

.modal-content {
  padding: 10px 0;

  .title {
    display: flex;
    align-items: center;
    margin: 16px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;

    &::before {
      width: 3px;
      height: 16px;
      margin-right: 10px;
      background-color: #1e2636;
      content: '';
    }
  }
}
