.section {
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.flex {
  display: flex;
}

.sit-bar {
  width: 24px;
  height: 216px;
  margin-right: 20px;
  background-image: url('@/assets/myApp-sit-step-bar-enable.png');
  background-repeat: no-repeat;
  background-position: center;

  &.disable {
    background-image: url('@/assets/myApp-sit-step-bar-disable.png');
  }
}

.prod-bar {
  width: 24px;
  height: 230px;
  margin-right: 20px;
  background: url('@/assets/myApp-prod-step-bar-enable.png') top no-repeat;
  background-repeat: no-repeat;
  background-position: center;

  &.disable {
    background-image: url('@/assets/myApp-prod-step-bar-disable.png');
  }
}

.sit-env {
  .content {
    justify-content: space-between;
    height: 100%;
  }
}

.process {
  flex: 1;

  .content {
    display: flex;
    flex-direction: column;
  }

  .title {
    color: #575d69;
    font-weight: bold;
    font-size: 16px;

    &.active {
      color: #000;
    }
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 186px;
  padding: 16px;
  padding-top: 0;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 8px;

  .tag {
    width: 80px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    background-image: url('@/assets/myApp-step-tage.png');

    .step-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 4px;
      color: #aaa;
      line-height: 16px;
      text-align: center;
      background-color: #fff;
      border-radius: 50%;
    }
  }

  .name {
    margin: 16px 0;
    color: $light-font-primary-color;
    font-weight: bold;
  }

  .btn {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    color: #fff;
    background-color: #aaa;
    border-radius: 4px;
    cursor: no-drop;

    .btn-icon {
      width: 16px;
      height: 16px;
      margin-right: 6px;

      &.step01 {
        background-image: url('@/assets/myApp-step-btn-icon-01.png');
      }

      &.step02 {
        background-image: url('@/assets/myApp-step-btn-icon-02.png');
      }

      &.step03 {
        background-image: url('@/assets/myApp-step-btn-icon-03.png');
      }

      &.step05 {
        background-image: url('@/assets/myApp-step-btn-icon-05.png');
      }
    }
  }

  &.active {
    background-color: #f2f7ff;

    .tag {
      color: $primary-color;
      background-image: url('@/assets/myApp-step-tage-active.png');

      .step-icon {
        color: #fff;
        background-color: $primary-color;
      }
    }

    .btn {
      background-color: $primary-color;
      cursor: pointer;
    }
  }

  &.done {
    .name {
      display: flex;
      flex: 1;
      align-items: center;
      margin: 0;
      line-height: 90px;
    }
  }
}

.done-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url('@/assets/myApp-done-icon.png');
}

.dashed {
  position: relative;
  flex: 1;
  color: #9a9da4;
  font-size: 12px;
  line-height: 100px;
  text-align: center;

  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    border-bottom: 1px dashed $border-color;
    transform: translateY(-50%);
    content: '';
  }

  &.active {
    color: #00b578;

    &::after {
      border-color: $primary-color;
    }
  }
}

.panel {
  height: 100%;
  padding: 16px 24px;
  border: 1px solid $border-color;
  border-radius: 4px;

  .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;

    @include font-primary-color;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 3px;
      height: 60%;
      background-color: $primary-color;
      transform: translateY(-50%);
      content: '';
    }
  }

  .info-item {
    display: flex;
    align-items: center;
    margin: 16px 0;
    border: 1px solid $border-color;
    border-radius: 4px;

    .label {
      width: 110px;
      line-height: 50px;
      text-align: center;
      border-right: 1px solid $border-color;
    }

    .value {
      display: flex;
      flex: 1;
      justify-content: space-between;
      padding: 0 10px;
    }
  }
}

.amount {
  margin-left: 4px;
  font-weight: bold;
  font-size: 18px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  border-radius: 50%;

  &.accessed-dot {
    background-color: #12be55;
  }

  &.unaccessed-dot {
    background-color: #ffa814;
  }
}

[data-theme='light'] .panel .label {
  background-color: #f7f8fa;
}

[data-theme='dark'] .panel .label {
  background-color: transparent;
}
